$tablet-width: 480px;
$desktop-width: 768px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.pb-section {
  font-size: 1rem;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  color: #3a4155;

  @include tablet {
    font-size: 1rem;
  }


  .section-title {
    font-size: 2rem;
    text-align: center;
  }

  .products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    @include tablet {
      align-content: center;
    }


    > div {
      flex: 1 100%;
      text-align: center;
      border: 2px solid #dfe0ed;
      padding: 20px;
      margin-bottom: 20px;

      @include tablet {
        flex: 1 1 30%;
        max-width: 30%;
      }


      @include desktop {
        flex: 1;
        margin-right: 10px;
        max-width: 28%;
      }


      .product-cover {
        max-width: 100%;
      }

      .product-labels {
        height: 30px;
        min-height: 30px;

        .product-label {
          margin: 0 -20px;
          padding: 5px 20px;
          text-align: left;
          color: white;
          font-weight: bold;
          background-color: #ff2c13;
        }
      }

      .product-title, .product-labels, p, .price {
        text-align: left;
      }

      p {
        margin: 30px 0;
      }

      .price {
        > span:first-of-type {
          margin-right: 10px;
          font-size: 1rem;

          @include tablet {
            font-size: 2rem;
          }
        }

        > span:last-of-type {
          font-weight: bold;
          font-size: 2rem;

          @include tablet {
            font-size: 3rem;
          }
        }
      }

      .product-cta {
        display: block;
        border: 5px solid #00ff00;
        margin: 20px auto;
        padding: 20px;
        font-size: 1.5rem;
        font-weight: bold;

        @include tablet {
          font-size: 2rem;
        }
      }

      .product-cta, .product-cta:hover, .product-cta:visited {
        color: #3a4155;
        text-decoration: none;
      }
    }
  }
}
